{{ cnt }} lines found.
Select
<a href="#" onclick="$('#searchresult .form-check-input').prop('checked', false); return false;">none</a>,
<a href="#" onclick="$('#searchresult .form-check-input').prop('checked', true); return false;">all</a>,
<a href="#" onclick="$('#searchresult .form-check-input').slice(0,20).prop('checked', true); return false;">first 20</a>,
<a href="#" onclick="$('#searchresult .form-check-input').slice(0,50).prop('checked', true); return false;">first 50</a>,
<a href="#" onclick="$('#searchresult .form-check-input').slice(0,100).prop('checked', true); return false;">first 100</a>.
  <table class="table">
    <thead>
      <tr>
        <th>Replace</th>
        <th>Page</th>
        <th>Line</th>
        <th>Text</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      {% for r in results|sort %}
      <tr>
        <td class="col-md-1"><input class="form-check-input" type="checkbox"></td>
        <td class="pinfo col-md-1">{{ r[0] }}</td>
        <td class="linfo col-md-1">{{ r[1] }}</td>
        <td class="text">
          {% if r[3] %}
          <span class="comment" style="background:yellow">
            <span class="glyphicon glyphicon-paperclip"></span>
            <span class="commentString">{{r[3]|safe}}</span>
          </span>
          <br/>
          {% endif %}
          <span class="foundString">{{ r[2] }}</span></td>
        <td class="col-md-1"><button class="btn" onclick="toggleimg(this)"><span class="glyphicon glyphicon-picture"></span></button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  </div>
