{% extends "base.html" %}

<div class="container" role="main">
  {% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="container" style="margin-top:15px;padding:20px;">
    <h1>Chars in {{ bookname }}:</h1>

    <table class="table"  style="font-family:Andron Scriptor Web;">
      <thead>
        <tr>
          <th>Char</th>
          <th>Unicode</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {% for r in results|sort %}
        <tr>
          <td class="col-md-1">{{ r[0] }}</td>
          <td class="col-md-1">{{ r[1] }}</td>
          <td>{{ r[2] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


</div>

{% endblock %}
{% block styles %}
{{super()}}
<style>
label {min-width: 7em;}
body {
  margin-top: 50px;
}

</style>
{% endblock %}
